google-cloud-bigquery==3.27.0
google-cloud-storage==2.19.0
pandas==2.2.3
pyarrow==18.1.0
requests==2.32.3
db-dtypes==1.4.0
google-cloud-bigquery-storage==2.27.0
jupyter==1.1.1
ipykernel==6.29.5dbt-bigquery==1.8.3
